rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /survey_responses/{document=**} {
      // Hanya izinkan membuat dokumen baru. Publik dilarang membaca atau mengubah.
      allow create: if true;
      allow read, update, delete: if false;
    }
  }
}